@media only screen and (max-width: 1200px) {
    header {

        height: 65vh;
    }
    
   
}
@media only screen and (max-width: 1024px)
{
    .row {
        margin: 0 15px;
    }
    .main-nav {
        display: none;
    }
    .hero-text-box {
        width:80%;
    }
    html {
        font-size: 57.5%;
    }
    .client-photo {

        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review {
        width: 100%;
        float: none;
        text-align: center;
    }
    .contact-section form {
        width: 100%;
        margin-left: 0;
    }
    .logo {
        margin-left: 2rem;
    }
    .mobile-menu span {
        display: block;
    }
    }

@media only screen and (max-width: 980px) {

    .span_1_of_4 {

        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){

        margin-left: 0;

    }
    .span_1_of_4:nth-child(1){
       
        margin-bottom: -8px
    }
   .hero-text-box {
       width: 80%;
    
   }
   .logo {
       margin-left: 0;
   }    

}
@media only screen and (max-width: 768px)  {

    .little-description {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 480px) {

    .span_1_of_4 {

        width: 100%;
    }
    .footer-section li {

        margin: 5px 3rem;
    }
    header {
        height: 68vh;
    }
    .testimonial .col:nth-child(3),
    .testimonial .col:nth-child(4) {

    margin-top: 4rem;
}

}